/* offset-x | offset-y | blur-radius | color */
snippet text-shadow
        text-shadow: ${1:offset-x}px ${2:offset-y}px ${3:blur}px rgba(${4:0,0,0,.2});
snippet box-shadow
        box-shadow: ${1:offset-x}px ${2:offset-y}px ${3:blur}px rgba(${4:0,0,0,.2});
